body{
    background:#0b0b0b;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

h1{
    color:#00ffff;
    margin-top:40px;
}

.dreamloLBTable{
    width:600px;
    margin:auto;
    border-collapse:collapse;
}

.dreamloLBTable th{
    background:#00bcd4;
    padding:12px;
}

.dreamloLBTable td{
    background:#1e1e1e;
    padding:10px;
    border-bottom:1px solid #333;
}
